@attribute [Authorize(Roles = "Konsulent, System Administrator, Udvikler")]

<div id="ModalCreateVacantJob" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">

            <MessageAlert Message="@(_errorMessage)" Alert="MessageAlert.AlertType.Error" />

            @if (_isLoading)
            {
                <MessageAlert IsLoading="@_isLoading" Alert="MessageAlert.AlertType.Info" Message="Vent venligst, henter nødvendig information.." />
            }
            else
            {
                <EditForm EditContext="_editContext" OnValidSubmit="OnValidSubmit_CreateJobAdvertAsync">
                    <div class="modal-header">
                        <h5 class="modal-title">Ny Stilling :</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col">
                                <label for="regInputTitle" class="admin-label col-form-label col-form-label-sm">Jobsiden's Link :</label>
                                <input id="regInputTitle" class="form-control form-control-sm" type="text" @bind="_vacantJobModel.URL" placeholder="Eksempel : www.dinhjemmeside.dk/jobs" />
                                <ValidationMessage For="@(() => _vacantJobModel.URL)" />
                            </div>
                        </div>

                        <hr />

                        <div class="row">
                            <div class="col">
                                <label for="regInputCompany" class="admin-label col-form-label col-form-label-sm">Stillingen Tilhører :</label>
                                @if (_jobPages == null || !_jobPages.Any())
                                {
                                    <label class="col-form-label">Kunne ikke hente stillinger eller er igang med at indlæse data..</label>
                                }
                                else
                                {
                                    <select id="regInputCompany" class="form-control form-control-sm" @bind="_vacantJobModel.CompanyId">
                                        <option value="0" selected>---Vælg en job side fra listen som tilhører stillingen---</option>
                                        @foreach (var company in _companies)
                                        {
                                            <option value="@company.Id">@company.Name</option>
                                        }
                                    </select>
                                }
                                <ValidationMessage For="@(() => _vacantJobModel.Id)" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" @onclick="OnClick_CancelRequest">Annuller</button>
                        <button class="btn btn-info text-light cursor-pointer" type="submit" disabled="@_isProcessing">Opret Stilling</button>
                    </div>
                </EditForm>
            }
        </div>
    </div>
</div>