@page "/admin/settings/jobpages"
@attribute [Authorize(Roles = "Konsulent, System Administrator, Udvikler")]
@inherits BasePage
@using BlazorWebsite.Shared.Components.Modals.JobPageModals;

<PageDocumentTitle DocumentTitle="Administrer - Virksomheds Links" />

<div class="d-flex">
    <PageHeadingTitle DisplayTitle="Virksomheds Jobopslags sider" />
    <div class="d-inline-block px-4 pt-4">

        @if (_companies == null)
        {
            <a class="btn btn-sm btn-info cursor-pointer text-white no-gutters disabled">
                <span class="d-inline-block">Ikke Aktiveret</span>
            </a>
            <span class="d-inline-block"><small class="text-danger font-weight-bolder">* Opret en JobSide for at benytte links.</small></span>
        }
        else
        {
            <a class="btn btn-sm btn-info cursor-pointer text-white" data-bs-toggle="modal" data-bs-target="#ModalCreateJobPage">
                Opret ny JobSide
            </a>
        }

    </div>
</div>

@if (dataIsLoading)
{
    <MessageAlert Alert="MessageAlert.AlertType.Info" IsLoading="dataIsLoading" Message="Indlæser robot links.." />
}
else
{
    @if (_jobPages == null)
    {
        <MessageAlert Alert="MessageAlert.AlertType.Info"
              Message="Indlæser robot links.." IsLoading="true" />
    }
    else
    {
        @if (!PaginationService.CreatePaging(_jobPages).Any())
        {
            <MessageAlert Alert="MessageAlert.AlertType.Warning"
              Message="Der blev ikke fundet nogen links."
              MessageOptional="Opret links, ved at trykke på knappen : Opret nyt Link." />
        }
        else
        {
            <div class="table-responsive table-responsive-sm table-responsive-md">
                <table class="table table-striped table-hover">
                    <caption>Liste over virksomheders jopopslag..</caption>
                    <thead class="table-primary text-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Virksomhed</th>
                            <th scope="col">Link</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var jobPage in PaginationService.CreatePaging(_jobPages.OrderBy(x => x.CompanyId)))
                        {
                            <tr id="@(jobPage.Id)">
                                <th scope="row">@(jobPage.Id)</th>
                                @foreach (var company in _companies)
                                {
                                    if (jobPage.CompanyId == company.Id)
                                    {
                                        <td>@(company.Name)</td>
                                    }
                                }
                                <td>@(jobPage.URL)</td>

                                <td>
                                    <span data-bs-toggle="modal" data-bs-target="#ModalEditJobPage" @onclick="@(mouseEvent => OnClick_EditLink(jobPage.Id))">
                                        <Popover Title="Ændre information" Body="Ved denne funktion, kan du ændre informationen på denne jobside." Color="Popover.PopoverType.Info" />
                                    </span>
                                </td>

                                <td>
                                    <span data-bs-toggle="modal" data-bs-target="#ModalRemoveJobPage" @onclick="@(mouseEvent => ConfirmationWindow(jobPage.Id))">
                                        <Popover Title="Forsigtig!" Body="Denne knap sletter den valgte jobside, forevigt!" Color="Popover.PopoverType.Danger" />
                                    </span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <Paging/>
        }
    }

    <CreateJobPageModal />

    <EditJobPageModal Model="_jobPageModel" />

    <RemoveJobPageModal Id="_jobPageId" />
}
