@attribute [Authorize]

<div class="modal fade" id="EditSourceLinkModal" tabindex="-1" role="dialog" aria-labelledby="EditSourceLinkModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">

            @if (SourceLink != null)
            {
                <EditForm Model="@(SourceLinkModel)" OnValidSubmit="OnValidSubmit_EditSourceLink">

                    <div class="modal-header">
                        <h5 class="modal-title" id="EditSourceLinkModalTitle">Ændre Oplysninger for Link :</h5>
                    </div>

                    <div class="modal-body">

                        @if (ShowMessage)
                        {
                            <MessageAlert Alert="Notification.MessageAlert.AlertType.Info" Message="@MessageAlert" />
                        }

                        <DataAnnotationsValidator />

                        <div class="row">
                            <div class="col">
                                <label for="editLinkForCompany" class="admin-label">Virksomhed : <span class="small font-italic" style="color: lightcoral">Ikke muligt at ændre virksomhed endnu!</span></label>
                                @if (Companies != null)
                                {
                                    <select class="custom-select custom-select-sm" @bind="SourceLinkModel.CompanyId = SourceLink.Company.Identifier">
                                        <option value="0">--Vælg en virksomhed fra listen--</option>
                                        @foreach (var company in Companies)
                                        {
                                            @if (SourceLinkModel.CompanyId == company.Identifier)
                                            {
                                                <option value="@(company.Identifier)" selected>@(company.Name)</option>
                                            }
                                            else
                                            {
                                                <option value="@(company.Identifier)">@(company.Name)</option>
                                            }
                                        }
                                    </select>
                                    <ValidationMessage For="@(() => SourceLinkModel.CompanyId)" />
                                }
                            </div>
                        </div>

                        <hr />

                        <div class="row">
                            <div class="col">
                                <label for="editLink" class="admin-label">Link til Stillingsopslag :</label>
                                <input id="editLink" class="form-control form-control-sm" placeholder="Indtast link til stillingsopslaget.." @bind="@(SourceLinkModel.Link = SourceLink.Link)" />
                                <ValidationMessage For="@(() => SourceLinkModel.Link)" />
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Annuller</button>
                        <button type="submit" class="btn btn-info" disabled="@IsProcessing">Gem Ændringer</button>
                    </div>

                </EditForm>
            }

        </div>
    </div>
</div>

@code {
    [Parameter]
    public SourceLink SourceLink { get; set; } = new SourceLink() { Company = new Company() };

    [Inject]
    private DataService DataService { get; set; }
    [Inject]
    private AdminService AdminService { get; set; }
    [Inject]
    private IRefresh Refresh { get; set; }
    [Inject]
    private IJSRuntime JS { get; set; }
    private SourceLinkModel SourceLinkModel { get; set; } = new SourceLinkModel();
    private List<Company> Companies { get; set; }

    private bool IsProcessing { get; set; }
    private bool ShowMessage { get; set; }

    private string MessageAlert { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Companies = await DataService.GetCompaniesWithContract() as List<Company>;
    }

    private void OnValidSubmit_EditSourceLink()
    {
        IsProcessing = true;
        SourceLinkModel.Id = SourceLink.Identifier;

        InvokeAsync(async () =>
        {
            ShowMessage = true;
            if (await AdminService.UpdateSourceLink(SourceLinkModel))
            {
                MessageAlert = "Link successfuldt opdateret!";
            }
            else
            {
                MessageAlert = "Noget gik galt, prøv igen senere.";
            }

        });

        Refresh.CallRefreshRequest();

        IsProcessing = false;
        MessageAlert = string.Empty;

        JS.InvokeVoidAsync("modalToggle", "EditSourceLinkModal");
        JS.InvokeVoidAsync("OnInformationChangeAnimation", SourceLinkModel.Id);

        ShowMessage = false;
    }
}