@page "/admin/settings/companies"

@attribute [Authorize]

<div class="d-flex">
    <PageDisplayName DisplayName="Administrer Virksomheder" />
    <div class="d-inline-block">
        <a class="btn btn-sm btn-info cursor-pointer text-white" data-toggle="modal" data-target="#CreateCompanyModal">
            Opret ny Virksomhed
        </a>
    </div>
</div>

@if (Companies.Count == 0)
{
    <MessageAlert Alert="MessageAlert.AlertType.Warning"
                  Message="Der blev ikke fundet nogen virksomheder."
                  MessageOptional="Opret virksomheder, ved at trykke på knappen : Opret ny Virksomhed." />
}
else
{
    <div class="table-responsive table-responsive-sm table-responsive-md">
        <table class="table table-sm table-striped table-hover">
            <caption>Liste over virksomheders kontrakter..</caption>
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Virksomhedens CVR</th>
                    <th scope="col">Navn</th>
                    <th scope="col">Link til Virksomhed</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var company in Companies)
                {
                    <tr id="@(company.Id)">
                        <th scope="row">@(company.Id)</th>
                        <td>@(company.CVR)</td>
                        <td>@(company.Name)</td>
                        <td>@(company.URL)</td>
                        <td>
                            <span @onclick="(OnClickEvent => OnClick_OpenEditModal(company.Id))" data-toggle="modal" data-target="#EditCompanyModal">
                                <Popover Title="Ændre information" Body="Ved denne funktion, kan du ændre informationen på denne virksomehd." Color="Popover.PopoverType.Info" />
                            </span>
                        </td>
                        <td>
                            <span @onclick="(OnClickEvent => OnClick_RemoveCompanyModal(company.Id))" data-toggle="modal" data-target="#RemoveCompanyModal">
                                <Popover Title="Forsigtig!" Body="Denne knap sletter det valgte opslag, forevigt!" Color="Popover.PopoverType.Danger" />
                            </span>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
}

<CreateCompanyModal />

<EditCompanyModal CompanyModel="Model" />

<RemoveCompanyModal CompanyId="CompanyId" />

@code {
    [Inject]
    protected DataService DataService { get; set; }

    [Inject]
    protected AdminService AdminService { get; set; }

    [Inject]
    protected IJSRuntime JSRuntime { get; set; }

    [Inject]
    protected IRefresh RefreshService { get; set; }

    public List<Company> Companies { get; set; } = new List<Company>();

    private CompanyModel Model { get; set; } = new CompanyModel();
    private int CompanyId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Companies = await DataService.GetAllCompanies();

        RefreshService.RefreshRequest += UpdateContentAsync;
    }

    private async void UpdateContentAsync()
    {
        try
        {
            if (DataService.GetAllCompanies() != null)
                Companies = await DataService.GetAllCompanies();
            else
                Companies = null;
        }
        finally
        {
            StateHasChanged();
        }
    }

    private async void OnClick_OpenEditModal(int id)
    {
        var company = await DataService.GetCompanyById(id);

        Model = new CompanyModel()
        {
            Id = company.Id,
            CVR = company.CVR,
            Name = company.Name,
            URL = company.URL
        };
    }

    private void OnClick_RemoveCompanyModal(int id)
    {
        CompanyId = id;
    }
}
