@page "/admin/settings/job/vacancies"

@using JobAgent.Models
@using JobAgent.Services

@inject AdminService Service

@attribute [Authorize]

<div class="table-responsive">
    <table class="table table-striped table-hover ">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Titel</th>
                <th scope="col">Job Kategory</th>
                <th scope="col">Virksomhed</th>
                <th scope="col">Opslag Registeret</th>
                <th scope="col">Ansøgningsfrist</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <th scope="row">@Model[i].JobAdvert.Id</th>
                    <td>@Model[i].JobAdvert.Title</td>
                    @if (string.IsNullOrEmpty(Model[i].Specialization.Name))
                    {
                        <td>@Model[i].Category.Name</td>
                    }
                    else
                    {
                        <td>@Model[i].Specialization.Name</td>
                    }
                    <td>@Model[i].Company.Name</td>
                    <td>@Model[i].JobAdvert.JobRegisteredDate</td>
                    <td>@Model[i].JobAdvert.DeadlineDate</td>
                    <td>
                        <Popover Title="Ændre information" Body="Ved denne funktion, kan du ændre informationen på dette opslag." Color="Popover.PopoverType.Info" />
                    </td>
                    <td>
                        <Popover Title="Forsigtig!" Body="Denne knap sletter det valgte opslag, forevigt!" Color="Popover.PopoverType.Danger" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    public List<JobVacanciesAdminModel> Model = new List<JobVacanciesAdminModel>();

    protected override async Task OnInitializedAsync()
    {
        Model = await Service.GetJobVacancies();
    }
}
