@attribute [Authorize(Roles = "Konsulent, System Administrator, Udvikler")]

<div class="modal fade" id="ModalEditJobPage" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">

            @if (_isLoading)
            {
                <MessageAlert IsLoading="_isLoading" Message="Indlæser data. Vent venligst.." Alert="MessageAlert.AlertType.Info" />

            }
            <MessageAlert Message="@(_errorMessage)" Alert="MessageAlert.AlertType.Error" />

            @if (Model == null)
            {
                <MessageAlert Alert="MessageAlert.AlertType.Warning" FullWidth="true" Message="Vent venligst, henter detailjer på stillingsopslag!" />
            }
            else
            {
                <EditForm Model="Model" OnValidSubmit="OnValidSubmit_EditJobVacancyAsync">

                    <div class="modal-header">
                        <h5 class="modal-title">Rediger Stillingsopslag:</h5>
                    </div>

                    <div class="modal-body">
                        <div class="row">
                            <div class="col">
                                <label for="inputTitle" class="admin-label col-form-label col-form-label-sm">Link:</label>
                                <input id="inputTitle" type="text" class="form-control form-control-sm" placeholder="Indsæt ny link her..." @bind-value="Model.URL" />
                                <ValidationMessage For="@(() => Model.URL)" />
                            </div>
                        </div>

                        <hr />

                        <div class="row">
                            <div class="col">
                                <label for="inputCompany" class="admin-label col-form-label col-form-label-sm">Virksomhed:</label>
                                <select class="form-control form-control-sm" @bind="Model.CompanyId">

                                    @foreach (var company in _companies)
                                    {
                                        <option value="@company.Id" selected>@company.Name</option>
                                    }

                                </select>
                                <ValidationMessage For="@(() => Model.CompanyId)" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" disabled="@(Model.IsProcessing)" @onclick="OnClick_CancelRequest" @onclick:preventDefault>Annuller</button>
                        <button class="btn btn-info text-light cursor-pointer" type="submit" disabled="@(Model.IsProcessing)">Gem ændringer</button>
                    </div>
                </EditForm>
            }
        </div>
    </div>
</div>