<div class="pb-3 pt-3">
    <AuthorizeView>
        <Authorized>
            <h4>Kontrolpanel</h4>
        </Authorized>
        <NotAuthorized>
            <h4>Uddannelser</h4>
        </NotAuthorized>
    </AuthorizeView>
</div>

<AuthorizeView>
    <Authorized Context="AdminContext">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mb-1 text-light">
            <span>Administrer</span>
        </h6>
        <ul class="nav flex-column">

            @if (AdminContext.User.IsInRole("Konsulent") ||
AdminContext.User.IsInRole("System Administrator") ||
AdminContext.User.IsInRole("Udvikler"))
            {
                <li class="nav-item">
                    <NavLink class="nav-link" href="/admin/settings/job-vacancies">
                        <span><i class="fas fa-clipboard-list"></i></span>
                        Stillingsopslag
                    </NavLink>
                </li>

                @*<li class="nav-item">
                    <NavLink class="nav-link" href="/admin/settings/contracts">
                        <span><i class="fas fa-file-signature"></i></span>
                        Kontrakter
                    </NavLink>
                </li>*@

                <li class="nav-item">
                    <NavLink class="nav-link" href="/admin/settings/companies">
                        <span><i class="fas fa-building"></i></span>
                        Virksomheder
                    </NavLink>
                </li>

                <li class="nav-item">
                    <NavLink class="nav-link" href="/admin/settings/jobpages">
                        <span><i class="fas fa-building"></i></span>
                        Virksomheds Sider
                    </NavLink>
                </li>
            }

            @if (AdminContext.User.IsInRole("System Administrator") ||
AdminContext.User.IsInRole("Udvikler"))
            {
                <li class="nav-item">
                    <NavLink class="nav-link" href="/admin/settings/register-user">
                        <span><i class="fas fa-user-plus"></i></span>
                        Opret Praktikkonsulent
                    </NavLink>
                </li>
            }
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-light">
            <span>Bruger Indstillinger</span>
        </h6>
        <ul class="nav flex-column">
            @if (AdminContext.User.IsInRole("Konsulent") ||
AdminContext.User.IsInRole("System Administrator") ||
AdminContext.User.IsInRole("Udvikler"))
            {
                <li class="nav-item">
                    <NavLink class="nav-link" href="/admin/account/my-profile">
                        <span><i class="fas fa-user-cog"></i></span>
                        Min Bruger
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/admin/account/change-password">
                        <span><i class="fas fa-user-lock"></i></span>
                        Ændre Adgangskode
                    </NavLink>
                </li>
            }
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-light">
            <span>Robot Indstillinger</span>
        </h6>
        <ul class="nav flex-column">
            @if (AdminContext.User.IsInRole("Konsulent") ||
AdminContext.User.IsInRole("System Administrator") ||
AdminContext.User.IsInRole("Udvikler"))
            {
                <li class="nav-item">
                    <NavLink class="nav-link" href="/admin/robot/settings/vacant-jobs">
                        <span><i class="fas fa-paperclip"></i></span>
                        Stillinger
                    </NavLink>
                </li>

                @*<li class="nav-item">
                    <NavLink class="nav-link" href="/admin/robot/settings/job-pages">
                        <span><i class="fas fa-address-book"></i></span>
                        Job Sider
                    </NavLink>
                </li>*@

                <li class="nav-item">
                    <NavLink class="nav-link" href="/admin/robot/settings/dynamic/search-filter">
                        <span><i class="fas fa-sort-amount-down-alt"></i></span>
                        Dynamisk Søge Filter
                    </NavLink>
                </li>
            }

            @if (AdminContext.User.IsInRole("System Administrator") ||
AdminContext.User.IsInRole("Udvikler"))
            {
                <li class="nav-item">
                    <NavLink class="nav-link" href="/admin/robot/settings/static/search-filter">
                        <span><i class="fas fa-filter"></i></span>
                        Statisk Søge Filter
                    </NavLink>
                </li>
            }
        </ul>


        @if (AdminContext.User.IsInRole("System Administrator") ||
AdminContext.User.IsInRole("Udvikler"))
        {
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-light">
                <span>System Indstillinger</span>
            </h6>
            <ul class="nav flex-column">
                @if (AdminContext.User.IsInRole("System Administrator") ||
AdminContext.User.IsInRole("Udvikler"))
                {
                    @*<li class="nav-item">
                        <NavLink class="nav-link" href="/admin/system/settings/user-access">
                            <span><i class="fas fa-low-vision"></i></span>
                            Bruger Rettigheder
                        </NavLink>
                    </li>*@
                }
                @if (AdminContext.User.IsInRole("Udvikler"))
                {

                    <li class="nav-item">
                        <NavLink class="nav-link" href="/admin/system/settings/view-log">
                            <span><i class="fas fa-box"></i></span>
                            Log
                        </NavLink>
                    </li>

                    @*<li class="nav-item">
                        <NavLink class="nav-link" href="/admin/system/settings/versioning">
                            <span><i class="fas fa-code-branch"></i></span>
                            Versionering
                        </NavLink>
                    </li>*@
                }
            </ul>
        }
    </Authorized>
    <NotAuthorized>
        <div class="input-group px-1 pb-2">
            <input class="form-control" type="text" placeholder="Søg Uddannelse..." aria-label="Søg Uddannelse" aria-describedby="search-addon" @onchange="OnInputChange_ApplySearchFilter" />
            <span class="input-group-text" id="search-addon"><i class="fas fa-search menu-icons"></i></span>
        </div>

        @*<ul class="nav flex-column">*@
        <div class="accordion px-1" id="menuAccordionPanel">

            <MessageAlert Message="@(_errorMessage)" Alert="MessageAlert.AlertType.Error" />

            @if (_isLoadingData)
            {
                <MessageAlert Message="Indlæser kategorier . . ." Alert="MessageAlert.AlertType.Info" IsLoading="_isLoadingData" />
            }

            @*<div class="accordion-item">
                    <h2 class="accordion-header">
                        <NavLink class="accordion-button" Match="NavLinkMatch.All" href="@(GenerateNavLinkLocation())">
                            Ikke Kategoriseret
                        </NavLink>
                    </h2>
                </div>*@

            @if (_menu is not null)
            {
                @foreach (var category in _menu)
                {
                    @if (category.Id.Equals(0))
                    {
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button no-after">
                                    <NavLink class="nav-link" Match="NavLinkMatch.All" href="@(GenerateNavLinkLocation())">
                                        <span>@category.Name</span>
                                    </NavLink>
                                </button>
                            </h2>
                        </div>
                    }
                    else
                    {
                        @if (category.Specializations.Any())
                        {
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="menuAccordionPanel-heading@(category.Id)">
                                    <button class="accordion-button collapsed text-light" type="button" data-bs-toggle="collapse" data-bs-target="@("#" + GetAccordionMenuPanelCssId(category.Id))" aria-expanded="true" aria-controls="@(GetAccordionMenuPanelCssId(category.Id))">
                                        @(category.Name)
                                    </button>
                                </h2>
                                <div id="menuAccordionPanel-collapse@(category.Id)" class="accordion-collapse collapse" aria-labelledby="menuAccordionPanel-heading@(category.Id)">
                                    <div class="accordion-body">
                                        @foreach (var specialization in category.Specializations)
                                        {
                                            <NavLink class="nav-link" href="@(GenerateNavLinkLocation(category.Id, specialization.Id, "SpecializationJob"))">
                                                <span>@specialization.Name</span>
                                            </NavLink>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button no-after">
                                        <NavLink class="nav-link" Match="NavLinkMatch.All" href="@(GenerateNavLinkLocation(category.Id, linkLocation: "CategoryJob"))">
                                            <span>@category.Name</span>
                                        </NavLink>
                                    </button>
                                </h2>
                            </div>
                        }
                    }

                }
            }
        </div>


        @*@foreach (var category in _menu)
            {
                if (category.Specializations.Count() == 0)
                {
                    <li class="nav-item">
                        <NavLink class="nav-link" href="@category.Id">
                            <span class="me-auto">@category.Name</span>
                            <span class="badge bg-purple-300">@category.Specializations.Count()</span>
                        </NavLink>
                    </li>
                }
                @if (category.Specializations.Count() != 0)
                {
                    <li class="nav-item btn-group dropend">
                            <NavLink type="button" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="me-auto">@category.Name</span>
                                <span class="badge bg-purple-300">@category.Specializations.Count()</span>
                            </NavLink>
                            <ul class="dropdown-menu">
                                @foreach (var specialization in category.Specializations)
                                {
                                    <NavLink class="dropdown-item text-left text-truncate w-auto" href="/job/{category.Id}/{specialization.Id}">
                                        <span class="badge badge-info">@specialization.Name</span>
                                        <span class="ml-2">@category.Name</span>
                                    </NavLink>
                                }
                            </ul>
                        </li>
                }
            }*@

    </NotAuthorized>
</AuthorizeView>