@page "/job/uncategorized"
@page "/job/{CategoryId:int}"
@page "/job/{CategoryId:int}/{SpecializationId:int}"

<div class="container-fluid my-3">
    @if (_isLoadingData)
    {
        <MessageAlert Message="Indlæser Stillingsopslag..." IsLoading="_isLoadingData" Alert="MessageAlert.AlertType.Info" />
    }

    @if (_loadFailed)
    {
        <MessageAlert Message="Fejl ved indlæsning af stillingsopslag..." Alert="MessageAlert.AlertType.Error" />
    }

    @if (_jobAdverts is null || _jobAdverts.Count() == 0)
    {
        if (CategoryId == 0 && SpecializationId == 0)
        {
            <MessageAlert Alert="MessageAlert.AlertType.Info" FullWidth="false" Message="Fandt ikke nogen ikke kategoriseret stillingsopslag!" />
        }
        else
        {
            if (SpecializationId == 0)
            {
                <MessageAlert Alert="MessageAlert.AlertType.Info" FullWidth="false" Message="Fandt ikke nogen stillingsopslag i denne uddannelsesgren!" />
            }
            else
            {
                <MessageAlert Alert="MessageAlert.AlertType.Info" FullWidth="false" Message="Fandt ikke nogen stillingsopslag fra dette speciale, i denne uddannelsesgren!" />
            }
        }
    }
    else
    {
        <div id="job-wrapper">
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-3 g-4 px-3 py-3">
                @foreach (var jobAdvert in PaginationService.CreatePaging(_jobAdverts))
                {
                    @foreach (var company in _companies)
                    {
                        foreach (var vacantJob in _vacantJobs)
                        {
                            if (jobAdvert.Id == vacantJob.Id && vacantJob.CompanyId == company.Id)
                            {
                                <div class="col">
                                    <div class="card" style="max-width: 540px;">
                                        <div class="row g-0">
                                            <div class="col-md-12">
                                                <div class="card-body">
                                                    <h5 class="card-title">@jobAdvert.Title</h5>
                                                    <p class="card-subtitle"><small>@company.Name</small></p>
                                                    <p class="card-text card-content">@jobAdvert.Summary</p>
                                                    <p class="card-subtitle"><small>Oprettet: @jobAdvert.RegistrationDateTime.ToString("dddd, d MMM yyyy", cultureInfo)</small></p>
                                                    <a target="_blank" href="@vacantJob.URL" class="btn btn-outline-light">Se Stilling</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                }
            </div>
        </div>

        @if(PaginationService.MaxPages > 1)
        {
            <nav aria-label="Page Navigation">
                <ul class="pagination justify-content-center">
                    @for (int i = 1; i <= PaginationService.MaxPages; i++)
                    {
                        var pageNumber = i;

                        <li class="@(i == PaginationService.CurrentPage ? "page-item active" : "page-item")">
                            <a class="page-link" href="@NavigationManager.Uri" @onclick="@(() => PaginationService.ChangePage(pageNumber))">@(i)</a>
                        </li>
                    }
                </ul>
            </nav>
        }
    }
</div>
