@page "/admin/settings/companies"

@*@attribute [Authorize(Roles = "Konsulent, System Administrator, Udvikler")]*@


@if (companies != null)
{
    @if (dataIsLoading)
    {
        <MessageAlert IsLoading="dataIsLoading" Message="Indlæser data..."></MessageAlert>
    }
    else
    {
        @if (companies.Count() == 0)
        {
            <lazorServerWebsite.Components.Notification.MessageAlert Alert="MessageAlert.AlertType.Warning"
                          Message="Der blev ikke fundet nogen virksomheder."
                          MessageOptional="Opret virksomheder, ved at trykke på knappen : Opret ny Virksomhed." />
        }
        else
        {
            <div class="table-responsive table-responsive-sm table-responsive-md">
                <table class="table table-sm table-striped table-hover">
                    <caption>Liste over virksomheders kontrakter..</caption>
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Virksomhedens CVR</th>
                            <th scope="col">Navn</th>
                            <th scope="col">Link til Virksomhed</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var company in companies)
                        {
                            <tr id="@(company.CompanyId)">
                                <th scope="row">@(company.CompanyId)</th>
                                <td>@(company.CVR)</td>
                                <td>@(company.Name)</td>
                                <td>@(company.ContactPerson)</td>
                                <td>
                                    <span @onclick="(OnClickEvent => OnClick_OpenEditModal(company.CompanyId))" data-toggle="modal" data-target="#EditCompanyModal">
                                        <Popover Title="Ændre information" Body="Ved denne funktion, kan du ændre informationen på denne virksomehd." Color="Popover.PopoverType.Info" />
                                    </span>
                                </td>
                                <td>
                                    <span @onclick="(OnClickEvent => OnClick_RemoveCompanyModal(company.CompanyId))" data-toggle="modal" data-target="#RemoveCompanyModal">
                                        <Popover Title="Forsigtig!" Body="Denne knap sletter det valgte opslag, forevigt!" Color="Popover.PopoverType.Danger" />
                                    </span>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        }

        <BlazorServerWebsite.Shared.Components.Modals.CreateCompanyModal />

        <BlazorServerWebsite.Shared.Components.Modals.EditCompanyModal CompanyModel="model" />

        <BlazorServerWebsite.Shared.Components.Modals.RemoveCompanyModal CompanyId="_companyId" />
    }
}
else
{
    <MessageAlert Alert="MessageAlert.AlertType.Error"
                  Message="Prøv at genindlæs siden."
                  MessageOptional="@(errorMessage)" />
}
