@page "/admin/settings/job-vacancies"

@attribute [Authorize(Roles = "Konsulent, System Administrator, Udvikler")]

<PageDocumentTitle Title="Administrer - Stillingsopslag" />

<div class="d-flex">
    <PageHeadingTitle DisplayName="Administrer Stillingsopslag" />
    <div class="d-inline-block">

        @if (_isDisabled)
        {
            <a class="btn btn-sm btn-info cursor-pointer text-white disabled">
                <span>Ikke Aktiveret</span>
            </a>
            <span class="d-inline-block"><small class="text-danger font-weight-bolder">* Opret en Virksomhed for at benytte stillingsopslag.</small></span>
        }
        else
        {
            <a class="btn btn-sm btn-info cursor-pointer text-white" data-toggle="modal" data-target="#ModalCreateJobAdvert">
                Opret nyt Stillingsopslag
            </a>
        }

    </div>
</div>

@if (_dataIsLoading)
{
    <MessageAlert IsLoading="_dataIsLoading" Message="Indlæser data..." />
}
else
{
    @if (_paginationModel != null)
    {

        <section id="filterAdverts" class="mb-1">
            <div class="d-flex flex-row-reverse">
                <div class="filter">
                    <select class="custom-select-sm" @bind="_categoryId">
                        <option selected value="0">--- Vælg kategori ---</option>
                        @if (_categories == null)
                        {
                            <option>Ingen Kategorier fundet!</option>
                        }
                        else
                        {
                            @foreach (var category in _categories)
                            {
                                var categoryId = category.Id;

                                <option value="@(category.Id)">@(category.Name)</option>
                            }
                        }
                    </select>
                </div>
            </div>
        </section>

        <section id="filterControls" class="mb-3">
            <div class="d-flex flex-row-reverse">
                <div class="action">
                    <button class="btn btn-sm btn-outline-info" @onclick="@(() => FilterContent())">Filtrér</button>
                    <button class="btn btn-sm btn-outline-dark" @onclick="@(() => ClearFilteredContent())">Ryd Filtrering</button>
                </div>
            </div>
        </section>

        @if (_paginationModel == null)
        {
            <MessageAlert Alert="MessageAlert.AlertType.Warning"
                          Message="Indlæser data, vent venligst!" />
        }
        else
        {
            @if (_paginationModel.PaginatedJobAdverts().Count() == 0)
            {
                if (_filteredContentFound == false)
                {
                    <MessageAlert Alert="MessageAlert.AlertType.Warning"
                                  Message="Det angivne filter, gav ingen resultater." />
                }
                else
                {
                    <MessageAlert Alert="MessageAlert.AlertType.Warning"
                                  Message="Der blev ikke fundet nogen stillingsopslag."
                                  MessageOptional="Opret opslag, ved at trykke på knappen : Opret nyt Stillingsopslag. - Hvis knappen ikke er aktiveret, er det fordi der ikke blev fundet nogen virksomheder." />
                }
            }
            else
            {
                <div class="table-responsive table-responsive-sm table-responsive-md">
                    <table class="table table-sm table-striped table-hover">
                        <caption>Liste over stillingsopslag..</caption>
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Titel</th>
                                <th scope="col">Job Kategory</th>
                                <th scope="col">Virksomhed</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var jobAdvert in _paginationModel.PaginatedJobAdverts())
                            {
                                <tr id="@jobAdvert.Id">
                                    <th scope="row">@jobAdvert.Id</th>
                                    <td class="text-truncate d-inline-block">@jobAdvert.Title</td>
                                    @if (string.IsNullOrEmpty(jobAdvert.Specialization.Name))
                                    {
                                        <td>@jobAdvert.Category.Name</td>
                                    }
                                    else
                                    {
                                        <td>@jobAdvert.Specialization.Name</td>
                                    }
                                    <td>@jobAdvert.VacantJob.Company.Name</td>
                                    <td>
                                        <span @onclick="(id => OnClickEdit_GetJobVacancyDetailsById(jobAdvert.Id))" data-toggle="modal" data-target="#EditJobVacancyModal">
                                            <Popover Title="Ændre information" Body="Ved denne funktion, kan du ændre informationen på dette opslag." Color="Popover.PopoverType.Info" />
                                        </span>
                                    </td>
                                    <td>
                                        <span @onclick="@(id => OnClick_StoreId(jobAdvert.Id))" data-toggle="modal" data-target="#RemoveJobVacancyModal">
                                            <Popover Title="Forsigtig!" Body="Denne knap sletter det valgte opslag, forevigt!" Color="Popover.PopoverType.Danger" />
                                        </span>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>

                <nav aria-label="Page Navigation">
                    <ul class="pagination justify-content-center">
                        @for (int i = 1; i <= _paginationModel.PageCount(); i++)
                        {
                            var pageNumber = i;

                            <li class="@(i == _paginationModel.CurrentPage ? "page-item active" : "page-item")">
                                <a class="page-link" href="/admin/settings/job/vacancies" @onclick="@(() => FilterContent(pageNumber))">@(i)</a>
                            </li>
                        }
                    </ul>
                </nav>
            }
        }

        <CreateJobAdvertModal />

        <EditJobVacancyModal Model="JobVacancyModel" />

        <RemoveJobVacancyModal Id="AdvertId" />
    }
    else
    {
        <MessageAlert Alert="MessageAlert.AlertType.Error"
                      Message="Prøv at genindlæs siden."
                      MessageOptional="@(_errorMessage)" />
    }
}
