<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(DashboardLayout)">
                <NotAuthorized>
                    <p>
                        <b>404.</b>
                        Det er en fejl.
                    </p>

                    <p>
                        Den anmodede URL /error blev ikke fundet på denne server. <br />
                        <span class="text-muted">Det er alt vi ved.</span>
                    </p>
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(DashboardLayout)">
                <p>
                    <b>404.</b>
                    Det er en fejl.
                </p>

                <p>
                    Den anmodede URL /error blev ikke fundet på denne server. <br />
                    <span class="text-muted">Det er alt vi ved.</span>
                </p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
