<div id="ModalCreateContract" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">

            <PageHeadingTitle DisplayTitle="Opret Kontrakt" />

            @if (!_isLoadingData)
            {
                <EditForm EditContext="@(_editContext)" OnValidSubmit="OnValidSubmit_CreateContract">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col">
                                <label for="inputCompany" class="admin-label col-form-label col-form-label-sm">Kontrakt for :</label>
                                <ValidationMessage For="() => _model.SignedWithCompany" />
                                <select id="inputCompany" class="form-control form-control-sm" @bind="_model.SignedWithCompany">
                                    <option value="0" selected>---Vælg en virksomhed fra listen---</option>
                                    @foreach (var company in _companies)
                                    {
                                        <option value="@company.Id">@company.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="col">
                                <label for="inputSignedByUser" class="admin-label col-form-label col-form-label-sm">Underskrevet af :</label>
                                <ValidationMessage For="() => _model.SignedByUser" />
                                <select id="inputSignedByUser" class="form-control form-control-sm" @bind="_model.SignedByUser">
                                    <option value="0" selected>---Vælg en konsulent fra listen---</option>
                                    @foreach (var user in _users)
                                    {
                                        <option value="@user.Id">@user.GetFullName</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <hr />

                        <div class="row">
                            <div class="col">
                                <label for="inputContactPerson" class="admin-label col-form-label col-form-label-sm">Virksomheds Kontakt Person :</label>
                                <ValidationMessage For="() => _model.ContactPerson" />
                                <input id="inputContactPerson" class="form-control form-control-sm" type="text" placeholder="Indtast navnet på kontakt personen.." @bind="_model.ContactPerson" />
                            </div>
                            <div class="col">
                                <label for="inputContractFile" class="admin-label col-form-label col-form-label-sm">Vælg Kontrakt : </label>
                                <div id="contractFileInput">
                                    <InputFile OnChange="@OnInputFileChange" single />
                                    <ValidationMessage For="() => _model.ContractFile" />

                                    @if (!string.IsNullOrEmpty(_model.ContractFileName))
                                    {
                                        <div class="alert alert-light alert-dismissible fade show" role="alert">
                                            <p class="d-inline">@_model.ContractFileName</p>

                                            <button type="button" class="close" data-dismiss="alert" @onclick="RemoveUploadedFile" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    }

                                    @if (!string.IsNullOrEmpty(_contractDataUrlForPreview))
                                    {
                                        <h4 class="small text-muted">Kontrakt Preview</h4>
                                        <div class="container justify-content-center">
                                            <iframe src="@_contractDataUrlForPreview"
                                                    class="embed-responsive-item"
                                                    lang="da"
                                                    title="Kontrakt Preview"
                                                    frameborder="1"
                                                    allowtransparency="true">
                                            </iframe>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>

                        <hr />

                        <div class="row">
                            <div class="col">
                                <label for="inputRegisteredDate" class="admin-label col-form-label col-form-label-sm">Kontrakt Registreret Dato :</label>
                                <ValidationMessage For="() => _model.RegistrationDate" />
                                <InputDate TValue="DateTime" @bind-Value="@(_model.RegistrationDate)" class="form-control form-control-sm" />
                            </div>
                            <div class="col">
                                <label for="inputExpiryDate" class="admin-label col-form-label col-form-label-sm">Udløbsdato :</label>
                                <ValidationMessage For="() => _model.ExpiryDate" />
                                <InputDate TValue="DateTime" @bind-Value=@(_model.ExpiryDate) class="form-control form-control-sm" disabled />
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" @onclick="CancelRequest" @onclick:preventDefault>Annuller</button>
                        <button class="btn btn-info text-light cursor-pointer" type="submit" disabled="@_isProcessing">Gem Ændringer</button>
                    </div>

                </EditForm>
            }

        </div>
    </div>
</div>
