@page "/admin/robot/settings/vacant-jobs"
@attribute [Authorize(Roles = "Konsulent, System Administrator, Udvikler")]
@using BlazorWebsite.Shared.Components.Modals.VacantJobModals;

<PageDocumentTitle DocumentTitle="Administrer - Stillingsopslag" />

<div class="d-flex">
    <PageHeadingTitle DisplayTitle="Virksomheds Stillingsopslag" />
    <div class="d-inline-block px-4 pt-4">

        @if (_companies == null)
        {
            <a class="btn btn-sm btn-info cursor-pointer text-white no-gutters disabled">
                <span class="d-inline-block">Ikke Aktiveret</span>
            </a>
            <span class="d-inline-block"><small class="text-danger font-weight-bolder">* Opret et Stillingsopslag for at benytte links.</small></span>
        }
        else
        {
            <a class="btn btn-sm btn-info cursor-pointer text-white" data-bs-toggle="modal" data-bs-target="#ModalCreateVacantJob">
                Opret nyt stillingsopslag
            </a>
        }

    </div>
</div>

@if (dataIsLoading)
{
    <MessageAlert Alert="MessageAlert.AlertType.Info" IsLoading="dataIsLoading" Message="Indlæser robot links.." />
}
else
{
    @if (_vacantJobs == null)
    {
        <MessageAlert Alert="MessageAlert.AlertType.Info"
                      Message="Indlæser robot links.." IsLoading="true" />
    }
    else
    {
        @if (!_vacantJobs.Any())
        {
            <MessageAlert Alert="MessageAlert.AlertType.Warning"
                          Message="Der blev ikke fundet nogen links."
                          MessageOptional="Opret links, ved at trykke på knappen : Opret nyt Link." />
        }
        else
        {
            <div class="table-responsive table-responsive-sm table-responsive-md">
                <table class="table table-striped table-hover">
                    <caption>Liste over virksomheders stillingsopslag..</caption>
                    <thead class="table-primary text-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Virksomhed</th>
                            <th scope="col">Link</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var vacantJob in _vacantJobs.OrderBy(x => x.CompanyId))
                        {
                            <tr id="@(vacantJob.Id)">
                                <th scope="row">@(vacantJob.Id)</th>
                                @foreach (var company in _companies)
                                {
                                    if (vacantJob.CompanyId == company.Id)
                                    {
                                        <td>@(company.Name)</td>
                                    }
                                }
                                <td>@(vacantJob.URL)</td>

                                <td>
                                    <span data-bs-toggle="modal" data-bs-target="#ModalEditVacantJob" @onclick="@(mouseEvent => OnClick_EditLink(vacantJob.Id))">
                                        <Popover Title="Ændre information" Body="Ved denne funktion, kan du ændre informationen på denne jobside." Color="Popover.PopoverType.Info" />
                                    </span>
                                </td>

                                <td>
                                    <span data-bs-toggle="modal" data-bs-target="#ModalRemoveVacantJob" @onclick="@(mouseEvent => ConfirmationWindow(vacantJob.Id))">
                                        <Popover Title="Forsigtig!" Body="Denne knap sletter den valgte jobside, forevigt!" Color="Popover.PopoverType.Danger" />
                                    </span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    }

    <CreateVacantJobModal />

    <EditVacantJobModal Model="_vacantJobModel" />

    <RemoveVacantJobModal Id="_vacantJobId" />
}
