@attribute [Authorize]

<div class="modal fade" id="DetailsVacancyModal" tabindex="-1" role="dialog" aria-labelledby="DetailsVacancyModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content">
            @if (Details != null)
            {
                <div class="modal-header">
                    <h5 class="modal-title" id="DetailsVacancyModalTitle">@Details.Title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="clearfix">
                        <div class="float-left">
                            <section id="information" class="d-inline-flex flex-row mb-2">
                                <div class="pr-2"><span class="vacancy-detais-icon"><i class="fas fa-at"></i></span> <span class="font-weight-lighter"><a href="@($"mailto:{Details.Email}")">@Details.Email</a></span></div>
                                <div class="pl-2"><span class="vacancy-detais-icon"><i class="fas fa-mobile-alt"></i></span> <span class="font-weight-lighter"><a href="@($"tel:+45{Details.PhoneNumber}")">@Details.PhoneNumber</a></span></div>
                            </section>

                            <section id="category" class="d-flex flex-column">
                                <div class="pr-2"><span class="text-muted">Virksomhed:</span> <span class="font-weight-lighter">@Details.Company.Name</span></div>
                                <div class="pr-2"><span class="text-muted">Kategori:</span> <span class="font-weight-lighter">@(Details.Specialization.Id != 0 ? Details.Specialization.Name : Details.Category.Name) </span></div>
                            </section>
                        </div>

                        <div class="float-right">
                            <section id="location" class="d-flex flex-column text-right mb-2">
                                <div class="pl-2"><span class="text-muted">Lokation:</span> <span class="font-weight-light">@Details.JobLocation</span></div>
                            </section>

                            <section id="dates" class="d-inline-flex flex-column text-right">
                                <div class="pl-2"><span class="text-muted">Stillingsopslag registeret:</span> <span class="font-weight-light">@Details.JobRegisteredDate.ToString("dddd, d MMM yyyy", CultureInfo.CreateSpecificCulture("da-DK"))</span></div>
                                <div class="pl-2"><span class="text-muted">Ansøgningsfrist:</span> <span class="font-weight-light">@Details.DeadlineDate.ToString("dddd, d MMM yyyy", CultureInfo.CreateSpecificCulture("da-DK"))</span></div>
                            </section>
                        </div>
                    </div>

                    <hr />

                    <section id="description">
                        <div>
                            @Details.JobDescription
                        </div>
                    </section>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Tilbage</button>
                    <a class="btn btn-info text-light cursor-pointer" href="@(Details.SourceURL)" target="_blank">Søg Job Opslag</a>
                </div>
            }
            else
            {
                <MessageAlert Alert="MessageAlert.AlertType.Error" Message="Kunne ikke hente detailjer på stillingsopslag!" MessageOptional="Indlæs siden igen, eller prøv igen senere." />
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public JobAdvert Details { get; set; }
}
