@using BlazorWebsite.Data.Services
@inject NavigationManager NavigationManager
@inject PaginationService PaginationService

<nav aria-label="Page Navigation">
    <ul class="pagination justify-content-center">
        @if (PaginationService.CurrentPage > 3)
        {
            <li class="@(PaginationService.CurrentPage == 1 ? "page-item active" : "page-item")">
                <a class="page-link" href="@NavigationManager.Uri" @onclick="@(() => PaginationService.ChangePage(1))">Start</a>
            </li>
        }
        @for (int i = PaginationService.CurrentPage - 3; i <= PaginationService.CurrentPage + 3; i++)
        {
            if (i > 0 && i <= PaginationService.MaxPages)
            {
                var pageNumber = i;
                <li class="@(i == PaginationService.CurrentPage ? "page-item active" : "page-item")">
                    <a class="page-link" href="@NavigationManager.Uri" @onclick="@(() => PaginationService.ChangePage(pageNumber))">@(i)</a>
                </li>
            }
        }
        @if (PaginationService.CurrentPage < PaginationService.MaxPages - 3)
        {
            <li class="@(PaginationService.CurrentPage == PaginationService.MaxPages ? "page-item active" : "page-item")">
                <a class="page-link" href="@NavigationManager.Uri" @onclick="@(() => PaginationService.ChangePage(PaginationService.MaxPages))">Slut</a>
            </li>
        }
    </ul>
</nav>