@using JobAgent.Data
@using JobAgent.Services

@inject JobService JobService

@if (JobCategories.Any() || JobCategories != null)
{
    if (JobCategories.Count != 0)
    {
        @for (int i = 0; i < JobCategories.Count; i++)
        {
            @if (JobCategories[i].JobAdvertCategorySpecializations != null)
            {
                <div class="dropdown py-1 px-2">
                    <a id="@RemoveWhitespace(JobCategories[i].Name)DropdownMenu" class="dropdown-toggle btn btn-link btn-sm @MenuColor text-wrap text-left cursor-pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @JobCategories[i].Name
                    </a>

                    <div class="dropdown-menu" aria-labelledby="@RemoveWhitespace(JobCategories[i].Name)DropdownMenu">
                        @if (JobCategories[i].JobAdvertCategorySpecializations.Count > 1)
                        {
                            <h6 class="dropdown-header">Uddannelses Specialer</h6>
                        }
                        else
                        {
                            <h6 class="dropdown-header">Uddannelses Speciale</h6>
                        }

                        <div class="dropdown-divider"></div>

                        @for (int j = 0; j < JobCategories[i].JobAdvertCategorySpecializations.Count; j++)
                        {
                            <a class="dropdown-item text-wrap text-left" href="/job/@JobCategories[i].JobAdvertCategorySpecializations[j].Id">
                                @JobCategories[i].JobAdvertCategorySpecializations[j].Name
                            </a>
                        }
                    </div>
                </div>
            }
            else
            {
                <div class="py-1 px-2">
                    <a class="btn btn-link btn-sm @MenuColor text-wrap text-left" href="/job/@JobCategories[i].Id">
                        @JobCategories[i].Name
                    </a>
                </div>
            }
        }
    }
    else
    {
        <div class="container mt-2">
            <div class="alert alert-danger">
                <p>
                    @SystemMessage
                </p>
            </div>
        </div>
    }
}
else
{
    <div class="container mt-2">
        <div class="alert alert-danger">
            <p>
                @SystemMessage
            </p>
        </div>
    </div>
}

@code {
    // Testing
    List<JobAdvertCategory> JobCategories = new List<JobAdvertCategory>();

    public string MenuColor { get; set; } = "text-light";

    public string SystemMessage { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            if (JobService.GetJobMenuAsync() != null) JobCategories = await JobService.GetJobMenuAsync();

            if (JobCategories.Count == 0) SystemMessage = "Fandt ikke nogen kategorier..";
        }
        catch (Exception)
        {
            SystemMessage = "Noget fik galt, prøv igen senere.";
        }
    }

    protected string RemoveWhitespace(string input)
    {
        return new string(input.ToCharArray()
        .Where(c => !Char.IsWhiteSpace(c))
        .ToArray());
    }
    // End Testing
}
